body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:hover {
    background-color: #f5f5f5;
}

p#time-taken {
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    color: rgba(0, 68, 255, 0.692);
}

@media screen and (max-width: 768px) {
    table {
        margin-top: 20px;
    }
}
